
/*bytewebster.com*/
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


#loading-prediction img{width: 50px;height: 50px;}

nav .logo img {
    width: 50px; 
    height: auto;
    /* margin-right: 60%; */
    align-items: center;
}

.image-container {
    text-decoration: center;
    margin-top: 20px;
    margin-right: 60%;
}

.image-container img {
    width: 300px;
    height: 150px;
    display: block;
    margin-top: 0;
    margin-left: 90%;
}
.text-container p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1a1a;
    font-size: 40px;
}

.text-container p:nth-child(2) {
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 25px;
    line-height: 30px;
}

.text-container p:nth-child(3) {
    font-family: calibri;
    color: #403e3e;
    font-size: 17px;
    margin-top: 10px;
    line-height: 30px;
}

.text-container {
    position: absolute;
    text-align: center;
    left: 60%;
    top: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.text-container p {
    margin: 0; /* Reset margin */
    line-height: 1.5; /* Sesuaikan line-height sesuai kebutuhan */
}


/*About US*/
.ourteam {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Sesuaikan dengan lebar yang diinginkan */
    margin: 25px 0;

}

/* Menambahkan gaya untuk judul */
.team-title {
    font-size: 30px;
    width: 100%; /* Menyebarkan judul di seluruh lebar */
    text-align: center; /* Menyelaraskan teks ke tengah */
    margin-bottom: 15%; /* Menambahkan jarak antara judul dan kartu-kartu */

}

.team-upper .card,
.team-lower .card {
    position: relative;
    width: calc(30% - 20px); /* Mengatur lebar kartu dengan jarak antar kartu */
    margin: 10px; /* Jarak antar kartu */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.team-lower .card:nth-child(4),
.team-lower .card:nth-child(5) {
    width: calc(45% - 20px); /* Mengatur lebar kartu dengan jarak antar kartu */
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
                0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    transform: scale(1.2);
}

p {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 8px;
}

.name {
    margin-top: 80px;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.job {
    font-size: 1 em;
    color: #333;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 12px 8px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.4s;
}

button:hover {
    opacity: 0.8;
}

button i {
    color: #fff;
    font-size: 1.4em;
}

/* Social media colors */
button.linkedin {
    background-color: #0077B5;
} 

button.instagram {
    background: radial-gradient(circle at 30% 107%, #bc2a8d, #405de6);
}

button.whatsapp {
    background-color: #25D366; /* Warna resmi WhatsApp */
}
